body{
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px 1fr 50px;
    gap: 10px;
}
header{
    background-color: #d7d715;
    border-radius: 10px;
    color: white;
    grid-area: 1 / 1 / 1 / 4;
    box-sizing: border-box;
    text-align: center;
    padding-top: 15px;
}
section{
    background-color: #f1574c;
    color: white;
    border-radius: 10px;
    text-align: center;
    grid-area: 2 / 1 / 4 / 2;
}
nav{
    background-color: lightblue;
    color: white;
    text-align: center;
    border-radius: 10px;
    grid-area: 2 / 2 / 3 / 4;
    box-sizing: border-box;
    padding-top: 15px;
}
article{
    background-color: #959191;
    text-align: center;
    color: white;
    border-radius: 10px;
    grid-area: 3 / 2 / 3 / 4;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    grid-area: 4 / 1 / 4 / 4;
}